* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4EBDD;
    color: #000000; 
    font-family: sans-serif;
}

header {
    background-color: #6D1F2A;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}